$lightgrey: #B7B7B7;
$midgrey: #222;
$scaryred: #b90f00;
$shadedgrey: rgba(0,0,0,0.7);
$screenshots-total-width: 2000px;


$textcolor: $lightgrey;
$lightcolor: $lightgrey;
$othertextcolor: $scaryred;
