@import "colors.scss";
*, *:before, *:after {
	box-sizing: border-box;
	overflow: hidden; // Everything has layout by default. No clear fixes.
}

a, a:hover, a:active, a:visited {
	color: $textcolor;
	text-decoration: none;
}

/* ☰ button */
.hamburger {
	cursor: pointer;
	z-index: 1;
	top: 0;
	background-color: black;
	padding: 1em;
	position: fixed;
	right: 0;
	display: block;
	&.menu-active {
		right: $sidebar-width;
	}
	.hamburger-top, .hamburger-middle, .hamburger-bottom {
		transition: all .5s;
		display: block;
		height: 1px;
		width: $spacing;
		background: #fff;
		margin: 4px auto;
	}

	// 360 + 45 = 405
	&.menu-active .hamburger-top {
		transform: rotate(405deg) translate(4px,4px);
	}

	&.menu-active .hamburger-middle {
		opacity: 0;
	}

	// 360 + 45 = 405
	&.menu-active .hamburger-bottom {
		transform: rotate(-405deg) translate(4.5px,-4.5px);
	}
}

nav {
	font-size: $spacing / 2;
	cursor: pointer;
	font-weight: 400;
	line-height: $vertical-rhythm;
	text-transform: uppercase;
	background-color: black;
	margin-right: -$sidebar-width;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow-y: auto;
	&.menu-active {
		transform: translateX(0);
		width: $sidebar-width;
		right: $sidebar-width;
	}
	a, a:hover, a:active, a:visited {
		color: whiteSmoke;
		text-decoration: none;
		width: 100%;
		display: block;
		padding: $spacing;
		border-bottom: 1px solid $midgrey;
	}
	a:hover {
		color: $textcolor;
		transition: all 0.2s ease-out;
		transform: translateX(5px);
	}
	.linkedin-tracker {
		display: none;
	}
}

body, nav, .hamburger, .content, .symbol {
	transition: all 0.4s ease-out;
}

strong {
	color: $othertextcolor;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	color: $textcolor;
}

body {
	left: 0;
	margin: 0;
	background-color: black;
	color: $textcolor;
	overflow-x: hidden;
	background-size: cover;
	background-image: url('/images/vanda.jpg');
	background-repeat: repeat;
	transform: all 2s ease-in-out;
}

.content-wrapper {
	@include vertical-center-parent();
	height: 100vh; // 100 - footer
	width: 100%;
	.content {
		@include vertical-center-child();
		&.menu-active {
			@media (max-width: $single-column-threshold) {
				transform: translate(-$sidebar-width, -50%);
			}
		}
		&.loading {
			// Centers monogram until content has loaded
			transform: translateY(40%);
		}
		.intro {
			padding: 0 $spacing;
			text-align: center;
			.monogram {
				margin-top: $spacing * 4;
				height: 60px;
				width: 60px;
			}
			h1, h2, h3 {
				margin: $spacing / 4 0;
				opacity: 0;
				transition: all 0.1s ease-out;
				&.visible {
					opacity: 1;
				}
			}
		}
		.work-description {
			padding: 0 $spacing;
		}
		.help {
			text-align: center;
			text-transform: uppercase;
			font-size: 6pt;
		}
	}
}

.works-wrapper {
	width: 100vw;
	margin: 0;
	&.loading {
		// Show once monogram has loaded
		visibility: hidden;
	}
}


.work-description {
	text-align: left;
	max-width: 600px;
	margin: 0px auto;
	opacity: 0;
	// Show once monogram has loaded
	&.loading {
		visibility: hidden;
	}
	&.visible {
		opacity: 1;
	}
	.work-title {
		font-size: 26pt;
		margin: $spacing / 4 0;
		width: 70%;
	}
	.work-logo {
		width: 30%;
	}
	.work-title, .work-logo, .work-lede {
		float: left;
	}
	.work-lede {
		p {
			margin: $spacing / 4 0;
		}
	}
}

.links {
	width: 300px;
	float: right;
	margin-top: 50px;
	img {
		float: right;
		margin-left: $spacing / 2;
	}
}

.about-me {
	margin: 0 auto;
	max-width: $single-column-threshold;
}
