@import "metrics.scss";

@media screen and (max-width: $single-column-threshold) {

	.content {
		.intro {
			margin-top: 12px;
			margin-bottom: 12px;
			.monogram {
				margin-top: 0;
				height: 48px;
				width: 48px;
			}
			h1 {
				font-size: 16pt;
			}
			h2 {
				font-size: 12pt;
			}
		}
		.work-description {
			.work-title {
				font-size: 16pt;
			}
			.work-logo {
				margin: 6px 0;
			}
			.work-lede {
				font-size: 10pt;
			}
		}
	}

	.slider .frame .slides {
		height: 200px;
		margin-top: 0;
	}

	.modal-shade .modal {
		height: 100%;
		align-content: stretch;
		.text {
			width: 100%;
			padding: 12px;
			h1 {
				margin: 0 24px 0 0;
			}
		}
	}


	



// 	.content-wrapper .content .work-description {
// 		margin-top: 12px;
// 		margin-bottom: 12px;
// 	}

// 	.modal-shade .text .screenshot-container {
// 		overflow: scroll;
// 	}
}
