@import "colors.scss";
@import "metrics.scss";
@import "mixins.scss";

$modal-height: 500px;

.modal-parent {
	@include vertical-center-parent();
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	align-content: center;
	background-color: $shadedgrey;
	z-index: 2; 
	.modal {
		z-index: 3;
		@include vertical-center-child();		
		
		background-color: black;		
		max-height: $modal-height;
		min-height: $modal-height;		
		opacity: 1;		
		position: relative;
		.text {
			padding: $spacing;
			max-width: $single-column-threshold;
			min-width: 100%;
			color: whitesmoke;
			margin: 0 auto;
			button {
				border: 1px solid whiteSmoke;
			}
			h1 {
				margin: 0 0 $spacing 0;
			}
			
			.screenshot-container {
				max-width: 100%;
				.screenshots {
					* {
						padding: 12px; 
					}
					.tile {
						width: 200px;
						&:first-of-type {
							width: 400px;
						}
						&.description {
							width: 400px;
							font-size: 12pt;
						}
					}
				}
			}
		}
		.close {
			cursor: pointer;
			position: absolute;
			right: $spacing;
			top: $spacing;
		}
	}
}

