.slider {
	.frame {
		position: relative;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		white-space: nowrap;
		.slides {
			display: inline-block;
			height: 400px;
			margin-top: 48px;
			.js_slide {
				height: 100%;
				// Seems to be needed to be defined (or a width set individually on each) for slider buttons to work
				width: 400px;

				position: relative;
				display: inline-block;
				margin-right: 24px;
				cursor: pointer;
				// Darken and zoom out till selected
				opacity: 0.5;
				transition: all 0.1s ease-out;
				transform: scale(0.6); // Zoom effect
				filter: blur(2px);
				&.selected {
					opacity: 1;
					transform: scale(1);
					filter: none;
				}
			}
		}
	}
	.prev, .next {
		position: absolute;
		top: 50%;
		margin-top: -25px;
		display: block;
		cursor: pointer;
	}
	
	.next {
		right: 0;
	}
	
	.prev {
		left: 0;
	}
	
	.next svg, .prev svg {
		width: 25px;
	}
}

