.slider {
	.frame {
		position: relative;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		white-space: nowrap;
		.slides {
			display: grid;
			align-items: center;  

			// Hack required since lory.js wasn't designed fro CSS grid
			// Removing this causes the slides area to be cut off
			width: 9752px;
			
			.js_slide {
				grid-row: 1; 

				// Needs to be defined (or a width set individually on each) for slider buttons to work
				width: 400px;

				// Darken and zoom out till selected
				opacity: 0.3;
				transition: all 0.1s ease-out;
				transform: scale(0.6); // Zoom effect
				filter: blur(2px);
				&.selected {
					opacity: 1;
					transform: scale(1);
					filter: none;
					cursor: pointer;
				}
				img { 
					// Make images fit in container (they're retina)
					width: 100%;
					// Some images have transparent backgrounds
					background-color: white;			
				}
			}
		}
	}
	.previous, .next {
		position: absolute;
		top: 50%;
		margin-top: -25px;
		display: block;
		cursor: pointer;
		svg {
			width: 50px;
		}
	}
	
	.next {
		right: 0;
	}
	
	.previous {
		left: 0;
	}
}

