@import "colors.scss";
@import "metrics.scss";
@import "mixins.scss";



.modal-parent {
	display: none;
	@include vertical-center-parent();
	display: none; // Overwrite display: grid until we displau it!
	.modal {
		z-index: 3;
		@include vertical-center-child();		
		background-color: $shadedgrey;
		background-color: black;				
		.text {
			padding: $spacing;
			max-width: $single-column-threshold;
			color: whitesmoke;
			margin: 0 auto;
			button {
				border: 1px solid whiteSmoke;
			}
			h1 {
				margin: 0 0 $spacing 0;
			}
			.close {
				cursor: pointer;
				position: absolute;
				right: $spacing;
				top: $spacing;
			}
			.screenshot-container {
				max-width: 100%;
				.screenshots {
					* {
						padding: 12px; 
					}
					.tile {
						width: 200px;
						&:first-of-type {
							width: 400px;
						}
						&.description {
							width: 400px;
							font-size: 12pt;
						}
					}
				}
			}
		}
	}
}


.body.modal-enabled .modal-parent {
	display: grid;
}
