@import "normalize.less";
@import "fonts.less";

@darkcolor: rgb(0, 59, 165);
@lightcolor: #d6d6d5;
@otherdarkcolor: #b90f00;
@darkgrey: #222;
@skin: #F3DB2D;
@shadedgrey: rgba(0,0,0,0.7);
@spacing: 24px;
@sidebar-width: 150px;
@single-column-threshold: 770px;
@vertical-rhythm: 14px;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

a, a:hover, a:active, a:visited {
  color: @darkcolor;
  text-decoration: none;
}

.notlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  font-family: 'Maven Pro';
  font-size: @spacing / 2;
  line-height: @vertical-rhythm;
  text-transform: uppercase;
}

/* ☰ button */
.hamburger {
  z-index: 1;
  display: none;
  top: 0;
  left: @sidebar-width;
  background: @shadedgrey;
  padding: 1em;
  @media (max-width: @single-column-threshold) {
    position: fixed;
    left: 0;
    display: block;
    &.menu-active {
      left: @sidebar-width;
    }
  }
}

nav.horizontal {
  display: block;
  width: 100%;
  background: @shadedgrey;
  overflow: hidden;
  text-align: center;
  ul, li {
    .notlist;
  }
  ul {
    overflow: hidden;
    margin: 5px 0;
    margin: 0 auto;
    padding: 5px 0;
    display: inline-block;
  }
  li {
    float: left;
    margin: 0 30px;
  }
  a, a:hover, a:active, a:visited {
    color: whiteSmoke;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  @media (max-width: @single-column-threshold) {
    display: none;
  }
}

nav.vertical {
  margin-left: -@sidebar-width;
  width: 0;
  position: fixed;
  top: 0;
  left: @sidebar-width;
  bottom: 0;
  z-index: 1;
  background: @darkgrey;
  overflow-y: auto;
  font-size: @spacing;
  &.menu-active {
    @media (max-width: @single-column-threshold) {
      transform: translateX(0);
      width: @sidebar-width;
      left: @sidebar-width;
    }
  }
  @media (max-width: @single-column-threshold) {
    left: 0;
  }

  ul, li {
    .notlist;
  }
  ul {
    padding-left: 10px;
  }
  a, a:hover, a:active, a:visited {
    color: whiteSmoke;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  a:hover {
    background-color: @lightcolor;
    color: @darkcolor;
  }
  li.object {
    text-transform: uppercase;
    font-size: @spacing / 2;
    margin: 20px 0 5px 0;
    li.navitem {
      font-size: @spacing / 2;
      margin: 5px;
    }
  }
}

body, nav, .hamburger, .content {
  transition: all 0.2s ease-out;
}

strong {
  color: @otherdarkcolor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: @darkcolor;
}

body {
  left: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: @darkgrey;
  overflow-x: hidden;
  background-image: url('/images/lil_fiber.png')
}

.content {
  padding: @spacing;
  ul, li {
    .notlist;
  }
  &.menu-active {
    @media (max-width: @single-column-threshold) {
      transform: translateX(@sidebar-width);
    }
  }
}

.stuff {
  width: 100%;
  overflow-x: scroll;
  margin-top: 50px;
  .works {
    list-style-type: none;
    display: block;
    height: 390px;
    width: 9999px;
    transform: matrix(1, 0, -0.2, 1, 10, 0);
    .work {
      list-style-type: none;
      float: left;
      margin: @spacing / 4;
      &.selected {
        background-color: blue;
      }
    }
  }
}

.links {
  width: 300px;
  float: right;
  margin-top: 50px;
  img {
    float: right;
    margin-left: @spacing / 2;
  }
}
