<div class="about-me">
	<h1>Full Stack Technologist</h1>
	<h2>What's 'Full Stack'?</h2>
	<p>It means I work across a complete range of layers. I've been working in technology for nearly two decades now and have experience from hardware to low latency kernel tuning for trading desks, to large scale cloud virtualization, middleware architecture, to backend design to mobile web UX.</p>

	<h2>Speaking at Your Event</h2>
	<p>I am an experienced professional trainer and have also spoken at conferences to audiences ranging from lawyers to web developers to Linux kernel engineers. Check out some of my past presentations on Speakerdeck. </p>

	<h2>Working Together</h2>
	<p>If you have something specific in mind, the bets thing is to contact me via email. Regrettably I do not have the time to respond to every enquiry - if interested, I will get back to you.</p>

	</p>If you'd just like to keep in contact, I'd be delighted if you would <a href="https://twitter.com/intent/user?screen_name=mikemaccana">follow me on Twitter</a>.</p>

</div>
