{% extends 'layout.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}

  <div class="works-wrapper loading">
    <div class="works-container"></div>
  </div>

  <div class="work-description loading">
  </div>

{% endblock %}
