<!DOCTYPE html>
<html>

<head>
	<meta charset='utf8'>
	<title>Mike MacCana | {{ title }}</title>
	<link rel='stylesheet' href='/css/bundle.css'>
	<link rel="icon" href="/images/m.svg" sizes="any" type="image/svg+xml">
	<link rel="manifest" href="/json/manifest.json">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body class="loading">

	{{{body}}}

	<script src='js/bundle.js'></script>
</body>

</html>