<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="hamburger">
      <img src="./images/navicon-png2x.png" width="20" alt="Menu toggle">
    </div>

    <nav class="vertical">
      <a class="navitem" href="/">Home</a>
      <a class="navitem" href="/blog">Blog</a>
      <a class="navitem" href="/about">About</a>
    </nav>

    <nav class="horizontal">
      <div class="nav-items">
        <a class="navitem" href="/">Home</a>
        <a class="navitem" href="/blog">Blog</a>
        <a class="navitem" href="/about">About</a>
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="content">
        {% block content %}
          <p>Missing content!</p>
        {% endblock %}
      </div>
    </div>

    <footer>
      <a href="https://twitter.com/mikemaccana"><span class="symbol">circletwitterbird</span></a>
      <a href="http://github.com/mikemaccana"><span class="symbol">circlegithubalt</span></a>
      <a href="http://stackoverflow.com/users/123671/mikemaccana"><span class="symbol">circlestackoverflow</span></a>
      <a href="https://soundcloud.com/mikemaccana"><span class="symbol">circlesoundcloud</span></a>
      <a href="http://instagram.com/mikemaccana"><span class="symbol">circleinstagram</span></a>
      <a href="https://www.linkedin.com/in/mikemaccana"><span class="symbol">circlelinkedin</span></a>
    </footer>

    <div class="modal-parent">
      <div class="modal">
        <div class="modal-content">
          <div class="message">
            <div class="text">

            </div>
          </div>
        </div>
      </div>
    </div>

    <script data-main="js/index" src="js/require.js"></script>
  </body>
</html>