<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Mike MacCana - {% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
  </head>
  <body class="loading">
    <div class="hamburger">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </div>

    <nav class="vertical">
      <a class="navitem" href="/">Work</a>
      <a class="navitem" href="/about">About</a>
      <a class="navitem" target="_blank" href="https://twitter.com/mikemaccana">Twitter</a>
      <a class="navitem" target="_blank" href="http://github.com/mikemaccana">GitHub</a>
      <a class="navitem" target="_blank" href="https://speakerdeck.com/mikemaccana">Speaker Deck</a>
      <a class="navitem" target="_blank" href="https://medium.com/@mikemaccana">Medium</a>
      <a class="navitem" target="_blank" href="http://stackoverflow.com/users/123671/mikemaccana">StackOverflow</a>
      <a class="navitem" target="_blank" href="https://soundcloud.com/mikemaccana">SoundCloud</a>
      <a class="navitem" target="_blank" href="http://instagram.com/mikemaccana">Instagram</a>
      <a class="navitem" target="_blank" href="https://www.linkedin.com/in/mikemaccana">LinkedIn</a>
      <img class="linkedin-tracker" src="https://www.linkedin.com/profile/view?authToken=zRgB&authType=name&id=13692926" />
    </nav>

    <div class="content-wrapper">
      <div class="content loading">

        <div class="intro">
          <svg class="monogram" width="401px" height="580px" viewBox="0 0 401 580" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="big-m" sketch:type="MSLayerGroup" transform="translate(70.000000, 487.000000)" fill="#222222" style="opacity: 0;">
                  <path d="M130.710938,120 L0,0 L0,140 L0,186.701172 L0,540 L40,580 L40,90 L101,146.34375 L65.3554688,180 L130.710938,245 L130.710938,195 L121,185 L130.710938,174.996094 L130.710938,120 Z" id="Path-1" sketch:type="MSShapeGroup"></path>
                  <path d="M261,120 L130,0 L130,140 L130,186.701172 L130,540 L170.088459,580 L170.088459,90 L231.223358,146.34375 L195.5,180 L261,245 L261,195 L251.267587,185 L261,174.996094 L261,120 Z" id="Path-1" sketch:type="MSShapeGroup" transform="translate(195.500000, 290.000000) scale(-1, 1) translate(-195.500000, -290.000000) "></path>
                </g>
                <g id="small-m" sketch:type="MSLayerGroup" fill="#222222" style="opacity: 0;">
                  <path d="M201,200 L0,0 L0,401 L40,441 L40,90 L201,250 L201,200 Z" id="Path-2" sketch:type="MSShapeGroup"></path>
                  <path d="M401,200 L200,0 L200,401 L240,441 L240,90 L401,250 L401,200 Z" id="Path-2" sketch:type="MSShapeGroup" transform="translate(300.500000, 220.500000) scale(-1, 1) translate(-300.500000, -220.500000) "></path>
                </g>
              </g>
          </svg>
          <h1>Mike MacCana</h1>
          <h2>Full Stack Technologist</h2>
        </div>

        {% block content %}
          <p>Missing content!</p>
        {% endblock %}
      </div>
    </div>

    <footer>
    </footer>

    <div class="modal-parent">
      <div class="modal">
        <div class="modal-content">
          <div class="message">
            <div class="text">

            </div>
          </div>
        </div>
      </div>
    </div>

    <script data-main="js/index" src="js/require.js"></script>
  </body>
</html>