{% extends 'layout.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}

  <div class="intro">
    <svg class="monogram" width="401px" height="580px" viewBox="0 0 401 580" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <!-- Generator: Sketch 3.0.1 (7597) - http://www.bohemiancoding.com/sketch -->
        <title>Slice 1</title>
        <description>Created with Sketch.</description>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="big-m" sketch:type="MSLayerGroup" transform="translate(70.000000, 487.000000)" fill="#222222" style="opacity: 0;">
            <path d="M130.710938,120 L0,0 L0,140 L0,186.701172 L0,540 L40,580 L40,90 L101,146.34375 L65.3554688,180 L130.710938,245 L130.710938,195 L121,185 L130.710938,174.996094 L130.710938,120 Z" id="Path-1" sketch:type="MSShapeGroup"></path>
            <path d="M261,120 L130,0 L130,140 L130,186.701172 L130,540 L170.088459,580 L170.088459,90 L231.223358,146.34375 L195.5,180 L261,245 L261,195 L251.267587,185 L261,174.996094 L261,120 Z" id="Path-1" sketch:type="MSShapeGroup" transform="translate(195.500000, 290.000000) scale(-1, 1) translate(-195.500000, -290.000000) "></path>
          </g>
          <g id="small-m" sketch:type="MSLayerGroup" fill="#222222" style="opacity: 0;">
            <path d="M201,200 L0,0 L0,401 L40,441 L40,90 L201,250 L201,200 Z" id="Path-2" sketch:type="MSShapeGroup"></path>
            <path d="M401,200 L200,0 L200,401 L240,441 L240,90 L401,250 L401,200 Z" id="Path-2" sketch:type="MSShapeGroup" transform="translate(300.500000, 220.500000) scale(-1, 1) translate(-300.500000, -220.500000) "></path>
          </g>
        </g>
    </svg>
    <h1>Mike MacCana</h1>
    <h2>Full Stack Technologist</h2>
  </div>

  <div class="works-wrapper">
    <div class="works-container"></div>
  </div>

  <div class="work-description">
  </div>

{% endblock %}