{% extends 'layout.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
  <a href="#menu" class="hamburger">
    <img src="./images/navicon-png2x.png" width="20" alt="Menu toggle">
  </a>

  <nav class="vertical">
    <ul>
      <li class="navitem"><a href="/">Home</a></li>
      <li class="navitem"><a href="/blog">Blog</a></li>
      <li class="navitem"><a href="/about">About</a></li>
    </ul>
  </nav>

  <nav class="horizontal">
    <ul>
      <li class="navitem"><a href="/">Home</a></li>
      <li class="navitem"><a href="/blog">Blog</a></li>
      <li class="navitem"><a href="/about">About</a></li>
    </ul>
  </nav>

  <div class="content">

    <div class="intro">
      <h1>Mike MacCana</h1>
      <h2>Full Stack Technologist</h2>
      <h3>A few of the things I've made over the last couple of decades...</h3>
    </div>

    <div class="stuff"></div>

    <div class="help">Use arrow keys to browse</div>
    <div class="work-description">
      <h3 class="work-title"></h3>
      <h4 class="work-client"></h4>
      <div class="work-content"></div>
    </div>

  </div>
  <script data-main="js/index" src="js/require.js"></script>
{% endblock %}