@import url("colors.css");

*,
*:before,
*:after {
	box-sizing: border-box;
	/* Everything has layout by default. No clear fixes. */
	overflow: hidden;
}
a,
a:hover,
a:active,
a:visited {
	color: var(--textcolor);
	text-decoration: none;
}

body {
	/* Workaround for description text weirdly being selected after sliding */
	user-select: none;
}

body,
nav,
.hamburger,
.content,
.symbol {
	transition: all 0.4s ease-out;
}

strong {
	color: var(--othertextcolor);
}

h1,
h2,
h3 {
	font-family: "Caslon";
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--textcolor);
}

/* Not p as it's weird */
body,
nav,
header,
article,
section,
figure,
form,
div,
q,
footer,
button,
.button {
	display: grid;
}

li {
	overflow: initial;
}

/* svelte-ignore css-unused-selector */
.slides .link {
	width: 100%;
}

body {
	margin: 0;
	background-color: #e3e3e3;
	color: var(--textcolor);
	overflow: hidden;

	/* https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
	height: -webkit-fill-available;

	/* https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
	overscroll-behavior: contain;

	width: 100vw;
	align-content: center;
}

/* Hide things until monogram has loaded */
body.loading .monogram-and-heading {
	transition: all 1s ease-in-out;
	align-content: center;
}

/* Hide things until monogram has loaded */
body.loading .slider,
body.loading .work-description {
	visibility: hidden;
	/* Centers monogram until content has loaded */
	transform: translateY(40%);
	transition: all 1s ease-in-out;
}

.about-me {
	margin: 0 auto;
	max-width: var(--single-column-threshold-width);
}
