@import url("colors.css");

*,
*:before,
*:after {
	box-sizing: border-box;
	/* Everything has layout by default. No clear fixes. */
	overflow: hidden;
}
a,
a:hover,
a:active,
a:visited {
	color: var(--textcolor);
	text-decoration: none;
}

body,
nav,
.hamburger,
.content,
.symbol {
	transition: all 0.4s ease-out;
}

strong {
	color: var(--othertextcolor);
}

h1,
h2,
h3 {
	font-family: "Caslon";
	font-weight: 400;
	color: var(--textcolor);
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--textcolor);
}

/* Not p as it's weird */
body,
nav,
header,
article,
section,
figure,
form,
div,
q,
footer,
button,
.button {
	display: grid;
}

body {
	left: 0;
	margin: 0;
	background-color: black;
	color: var(--textcolor);
	overflow-x: hidden;
	background-size: cover;
	background-image: url("/images/vanda.jpg");
	background-repeat: repeat;
	height: 100vh;
	width: 100vw;
	align-content: center;
}

/* Hide things until monogram has loaded */
body.loading .monogram-and-heading {
	height: 100vh;
	transform: translateY(40%);
	transition: all 1s ease-in-out;
}

/* Hide things until monogram has loaded */
body.loading .slider,
body.loading .work-description {
	visibility: hidden;
	/* Centers monogram until content has loaded */
	transform: translateY(40%);
	transition: all 1s ease-in-out;
}

.about-me {
	margin: 0 auto;
	max-width: var(--single-column-threshold-width);
}
