:root {
	--lightgrey: #b7b7b7;
	--midgrey: #222;
	--scaryred: #b90f00;
	--shadedgrey: rgba(0, 0, 0, 0.7);
	--screenshots-total-width: 2000px;

	--textcolor: white;
	--darkcolor: black;
	--lightcolor: var(--lightgrey);
	--othertextcolor: var(--scaryred);

	/* For use with text-shadow */
	--white-outline: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff,
		-0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff;
	--lightcolor: var(--lightgrey);
	--othertextcolor: var(--scaryred);
}
