@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"),
		url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff)
			format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"),
		url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff)
			format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"),
		url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff)
			format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"),
		url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff)
			format("woff");
}

body {
	font-family: "Open Sans", "Segoe UI", sans-serif;
	font-weight: 400;
}

@font-face {
	font-family: "Caslon";
	src: url("/fonts/22bd8660c8d0b70ac3e9d024f7f2c31d.eot"); /* IE9*/
	src: url("/fonts/22bd8660c8d0b70ac3e9d024f7f2c31d.eot?#iefix")
			format("embedded-opentype"),
		/* chrome、firefox */ url("/fonts/22bd8660c8d0b70ac3e9d024f7f2c31d.woff")
			format("woff"),
		/* chrome、firefox */ url("/fonts/22bd8660c8d0b70ac3e9d024f7f2c31d.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("/fonts/22bd8660c8d0b70ac3e9d024f7f2c31d.svg#Caslon") format("svg"); /* iOS 4.1- */
}
