@import "normalize.less";
@import "fonts.less";

@lightgrey: #B7B7B7;
@darkgrey: #222;
@scaryred: #b90f00;
@shadedgrey: rgba(0,0,0,0.7);

@works-total-width: 4400px;
@screenshots-total-width: 2000px;


@textcolor: @lightgrey;
@lightcolor: @lightgrey;
@othertextcolor: @scaryred;

@spacing: 24px;
@sidebar-width: 150px;
@single-column-threshold: 770px;
@vertical-rhythm: 14px;
@selected-item-height: 310px;

*, *:before, *:after {
  box-sizing: border-box;
  overflow: hidden;
}

// Never mind Flexbox. Spec changes too much and docs are hard to find.
.vertical-center-parent() {
  display: table;
}

.vertical-center-child {
  display: table-cell;
  vertical-align: middle;
}

a, a:hover, a:active, a:visited {
  color: @textcolor;
  text-decoration: none;
}

.notlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  font-size: @spacing / 2;
  line-height: @vertical-rhythm;
  text-transform: uppercase;
}

/* ☰ button */
.hamburger {
  cursor: pointer;
  z-index: 1;
  display: none;
  top: 0;
  left: @sidebar-width;
  background: @shadedgrey;
  padding: 1em;
  @media (max-width: @single-column-threshold) {
    position: fixed;
    left: 0;
    display: block;
    &.menu-active {
      left: @sidebar-width;
    }
  }
}

nav.horizontal {
  height: 5vh;
  display: block;
  width: 100%;
  background: @shadedgrey;
  overflow: hidden;
  text-align: center;
  ul, li {
    .notlist;
  }
  ul {
    overflow: hidden;
    margin: 0 auto;
    padding: @spacing / 2 0;
    display: inline-block;
  }
  li {
    float: left;
    margin: 0 30px;
  }
  a, a:hover, a:active, a:visited {
    color: whiteSmoke;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  @media (max-width: @single-column-threshold) {
    display: none;
  }
}

nav.vertical {
  background: @shadedgrey;
  margin-left: -@sidebar-width;
  width: 0;
  position: fixed;
  top: 0;
  left: @sidebar-width;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
  font-size: @spacing;
  &.menu-active {
    @media (max-width: @single-column-threshold) {
      transform: translateX(0);
      width: @sidebar-width;
      left: @sidebar-width;
    }
  }
  @media (max-width: @single-column-threshold) {
    left: 0;
  }

  ul, li {
    .notlist;
  }
  ul {
    padding-left: 10px;
  }
  a, a:hover, a:active, a:visited {
    color: whiteSmoke;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  a:hover {
    background-color: @lightcolor;
    color: @textcolor;
  }
  li {
    text-transform: uppercase;
    font-size: @spacing / 2;
    margin: @spacing;
  }
}

body, nav, .hamburger, .content {
  transition: all 0.2s ease-out;
}

strong {
  color: @othertextcolor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: @textcolor;
}

body {
  left: 0;
  margin: 0;
  background-color: @darkgrey;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: @textcolor;
  overflow-x: hidden;
}

.content {
  height: 85vh;
  padding: 0; // No left/right padding because works should bleed all the way to the edges
  position: relative;
  ul, li {
    .notlist;
  }
  &.menu-active {
    @media (max-width: @single-column-threshold) {
      transform: translateX(@sidebar-width);
    }
  }
  .intro {
    padding: 0 @spacing;
    text-align: center;
    h1, h2, h3 {
      margin: @spacing / 4 0;
    }
  }
  .work-description {
    padding: 0 @spacing;
  }
  .help {
    text-align: center;
    text-transform: uppercase;
    font-size: 6pt;
  }
}

.stuff {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow-y: scroll;
  .works {
    list-style-type: none;
    display: block;
    width: @works-total-width;
    height: @selected-item-height;
    transform: matrix(1, 0, -0.2, 1, 24, 0);
    .work {
      cursor: pointer;
      border: 1px solid #CCC;
      list-style-type: none;
      float: left;
      margin: 0 @spacing / 4;
      width: 180px;
      height: 290px;
      transition: all 0.1s ease-out;
      transform: scale(0.95) translateZ(0); // Zoom effect
      background-position: center center;
      background-repeat: no-repeat;
      background-color: black;
      background-size: contain;
      &.selected {
        width: 400px;
        height: 310px;
      }
    }
  }
}

.work-description {
  text-align: left;
  max-width: 600px;
  margin: 0px auto;
  .work-title {
    font-size: 26pt;
    margin: @spacing / 4 0;
    width: 70%;
  }
  .work-logo {
    width: 30%;
  }
  .work-title, .work-logo, .work-lede {
    float: left;
  }
  .work-lede {
    p {
      margin: @spacing / 4 0;
    }
  }
}

.links {
  width: 300px;
  float: right;
  margin-top: 50px;
  img {
    float: right;
    margin-left: @spacing / 2;
  }
}

footer {
  height: 10vh;
  text-align: right;
  padding: @spacing / 2;
  font-size: 24pt;
  border-top: 1px solid @lightgrey;
  // Icons
  .symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
  }
  // More icon styling
  a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
  }
  &.menu-active {
    @media (max-width: @single-column-threshold) {
      transform: translateX(@sidebar-width);
    }
  }
}

// http://taitems.github.io/UX-Lab/ModalBlur/index.html
body.modal-enabled > *:not(.modal-parent) {
  filter: blur(2px);
}

.modal-parent {
  display: none;
  .modal {
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: @shadedgrey;
    .vertical-center-parent();
    // Pardon the extra div here, but http://stackoverflow.com/questions/6977313/can-you-use-display-table-cell-and-have-a-fixed-width-height
    .modal-content {
      .vertical-center-child();
      .message {
        min-height: 300px;
        max-height: 80vh;
        background-color: @darkgrey;
        .text {
          position: relative;
          .close {
            cursor: pointer;
            position: absolute;
            right: @spacing;
            top: @spacing;
          }
          .screenshot-container {
            max-width: 100%;
            overflow: scroll;
            .screenshots {
              width: @screenshots-total-width;
              img.screenshot {
                max-height: 30vh;
              }
            }
          }
          padding: @spacing;
          max-width: @single-column-threshold;
          height: 100%;
          color: whitesmoke;
          margin: 0 auto;
        }
        button {
          border: 1px solid whiteSmoke;
        }
      }
    }
  }
}
